.messagesContainer {

 display:flex;
 gap: 0rem;
 margin: 2rem;

}

.messageList{
    flex:1;
   
    border: 1px solid black;
   /*overflow: scroll;*/
}

.singleMessage {
  max-height: 4rem;
  width: 100%;
  display: flex;
  gap:0.5rem;
  border-bottom: 1px solid black;
   padding-top: 2rem;
   padding-bottom: 2rem;
  
}

.senderPic {
  flex:1;
  
  height: 2.5rem;
}

.messageDetails {
 flex:4;
 display: flex;
 flex-direction: column;
 gap:1.5rem;
}

.messageDesc {
    display: flex;
    justify-content: space-between;
    padding-right: 2rem; 
    padding-left: 2rem;/*i did this padding so that the duration is not slamming the border*/
}

.messagePreamble {
   
    padding-left: 2rem;
}

.messageHighlight{
 flex:3;
 padding: 2rem;
 border: 1px solid black;
 
 
 width:1000px; /*to make sure the messages do not change the borders of their containers as they are clicked*/
}

@media screen and (max-width:1600px){
  .messageHighlight{
    width:500px;   /*to make sure the messages do not change the borders of their containers as they are clicked*/
   }
}

.chosenMessageTitle {
    max-height: 4rem;
  width: 100%;
  display: flex;
  gap:1rem;
  border-bottom: 1px solid black;
   padding-top: 2rem;
   padding-bottom: 2rem;
   align-items: center;
}

.titlePic{
 flex: 1;
 width: 3rem;
 height: 6rem;
}

.titleSender{
 flex:4;
}

.chosenMessageBody{
   padding:2rem;
   
}


